.indianred {
  color: indianred;
}

.italic {
  font-style: italic;
}

.Cockpit button {
  border: 1px solid hotpink;
  padding: 16px;
  background-color: mediumseagreen;
  font: inherit;
  cursor: pointer;
}

.Cockpit button:hover {
  background-color: greenyellow;
  color: slategrey;
}

.Cockpit button.Indian {
  background-color: indianred;
}

.Cockpit button.Indian:hover {
  background-color: lightsalmon;
  color: black;
}